resources:
- name: {{ env["project"] }}-vn
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: true

- name: {{ env["project"] }}-fw
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ env["project"] }}-vn.selfLink)
    sourceRanges: ["35.235.240.0/20"]
    direction: INGRESS
    allowed:
    - IPProtocol: TCP
      ports:
      - 22
